<div class="row justify-content-end mt-3 mb-3 welcome">
    <div>Logged in as: {{name}}</div>
</div>



<div class="row d-flex mt-4">
    <div class="col-6">
    {{#if blogposts.length}}
        {{!-- homepage shows preview of all blog posts;
        loop over each object in the blogposts array --}}
        {{#each blogposts as |blogpost|}} 
        <div class="mb-3 mt-3 blogpost">
            <div class="d-flex blogHeader justify-content-between">
                <span>{{blogpost.destination}}</span>
                <span>Posted by {{blogpost.user.username}} on {{format_date blogpost.dateCreated}}</span>
            </div>
            <div class="blog-field d-flex rating p-1">
                <span class="field-label w-25">Trip Rating</span>
                <span class="w-75">{{blogpost.trip_rating}}</span>
            </div>
            <div class="blog-field d-flex budget p-1">
                <span class="field-label w-25">Budget</span>
                <span class="w-75">{{blogpost.budget}}</span>
            </div>
            <div class="blog-field d-flex lodging p-1">
                <span class="field-label w-25">Lodging</span>
                <span class="w-75">{{blogpost.lodging}}</span>
            </div>
            <div class="blog-field d-flex activities p-1">
                <span class="field-label w-25">Activities</span>
                <span class="w-75">{{blogpost.activities}}</span>
            </div>
            <div class="blog-field d-flex experience p-1">
                <span class="field-label w-25">Experience</span>
                <span class="w-75">{{blogpost.experience}}</span>
            </div>
        </div>
        {{/each}}
    {{/if}}
    </div>

    <div class="col-6 mt-3 mb-3">
        <div class="new-post-header">
            <div>Create New Post</div>
        </div>

        <form class="form new-blog-form">

            <div class="form-group">
                <label for="destination" class="form-label">Destination: </label>
                <input class="form-input form-control" type="text" id="destination" name="destination" />
            </div>
            <div class="form-group">
                <label for="rating" class="form-label">Trip Rating (1-5): </label>
                <input class="form-input form-control" type="number" id="rating" name="rating" />
            </div>
            <div class="form-group">
                <label for="budget" class="form-label">Budget: </label>
                <input class="form-input form-control" type="number " id="budget" name="budget" />
            </div>
            <div class="form-group">
                <label for="lodging" class="form-label">Lodging: </label>
                <input class="form-input form-control" type="text" id="lodging" name="lodging" />
            </div>
            <div class="form-group">
                <label for="activities" class="form-label">Activities: </label>
                <input class="form-input form-control" type="text" id="activities" name="activities" />
            </div>
            <div class="form-group">
                <label for="experience" class="form-label">Experience: </label>
                <textarea class="form-input form-control" type="text" id="experience" name="experience"></textarea>
            </div>
            <!-- Submit Button -->
            <div class="d-grid gap-3">
                <button class="btn btn-secondary w-100" type="submit">Submit</button>
            </div>


        </form>


    </div>

</div>

{{!-- script to handle form submission --}}
<script src="/js/new-blog.js" type="text/javascript"></script>
